# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env
.env.*

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/settings.json

# Flask session / instance
instance/
flask_session/
